<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
<uses-permission android:name="android.permission.VIBRATE"/>
<uses-permission android:name="android.permission.INTERNET"/>
<!-- 
<application
    android:name=".MainApplication"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!-- Push Notification Receiver -->
    <receiver
        android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationReceiver"
        android:enabled="true"
        android:exported="false"/>

    <!-- Push Notification Service -->
    <service
        android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="dataSync"/>

    <!-- Boot Receiver to start the app on boot -->
    <receiver
        android:name=".BootReceiver"
        android:enabled="true"
        android:exported="false">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </receiver>

</application> -->
